<%= link_to 'Nazad', admin_events_path %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default events-list">
      <div class="panel-heading pacific-heading">
        Evidencija prisustva
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <th>Ime i prezime</th>
            <th>Status</th>
          </thead>
          <tbody>
          <% @event_attendences.each do |e| %>
            <tr>
              <td><%= e.user.fullname %></td>
              <td width="400px">
                <% if e.is_attended %>
                  <span class="glyphicon glyphicon-check" data-toggle="tooltip" data-placement="top" title="Prisustvovao/la"></span> |
                  <%= link_to admin_event_attendence_undo_attendence_path(e), method: :put do %>
                    <span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" title="Poništi"></span>
                  <% end %>
                <% else %>
                  <%= link_to admin_event_attendence_commit_attendence_path(e), method: :put do %>
                    <span class="glyphicon glyphicon-unchecked" data-toggle="tooltip" data-placement="top" title="Evidentiraj prisustvo"></span>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
