<h1>Zavoravljena sifra</h1>

<p>Da biste ponovo unijeli sifru kliknite na link ispod:</p>

<%= link_to "Reset password", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Link istice za 2 sata.</p>

<p>
Ukoliko niste zahtijevali promjenu sifre, molim Vas ignorisite ovaj mail i Vasa stara sifra ce ostati.
</p>