<div class="registration-form">
  <%= form_for @user, html: {class: 'col-lg-6', name: 'form-centerr'} do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>Nevalidni unosi:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

		<%= render partial: 'form', :locals => { :f => f, :submit_label => "Spasi izmjene" } %>
		
	<% end %>
</div>
