<div class="projects-form">
	<%= form_for @project, url: { action: "update" }, html: { name: 'form-center' } do |f| %>
		<% if @project.errors.any? %>
		      <h2>Greške:</h2>

		      <ul>
			      <% @project.errors.full_messages.each do |msg| %>
			        <li><%= msg %></li>
			      <% end %>
		      </ul>
		  <% end %>
	  <%= render partial: 'form', :locals => { :f => f, :submit_label => "Promijeni" } %>
	<% end %>
</div>