<div class="projects-form">
	<%= form_for @project, url: { action: "create" }, html: { name: 'form-center' } do |f| %>
		<% if @project.errors.any? %>
	      <div id="error_explanation">
	        <h2>Nevalidni unosi:</h2>

	        <ul>
	        <% @project.errors.full_messages.each do |message| %>
	          <li><%= message %></li>
	        <% end %>
	        </ul>
	      </div>
	  <% end %>
	  <%= render partial: 'form', :locals => { :f => f, :submit_label => "Spasi" } %>
	<% end %>
</div>