@import 'variables';

.project-active {
  background-color: $green;
  color: #fff;

  a {
    color: #fff;
  }
  a:hover {
    color: #fff;
  }
}

.project-archived {
  background-color: #E7E7E7;
  color: #000;

  a {
    color: #000;
  }
  a:hover {
    color: #000;
  }
}