@import 'variables';

/* COMMON */
.image-container {
  background: url(cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.title {
	color: $green;
}

body {
  background: url(transparentcover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}
/* LANDING */
.navbar-fixed-top {
	margin-bottom: 0px;
}

.navbar {
  font-family: 'Hind';
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;

  .blue, .blue:hover {
		color: $blue !important;
	}

	.pacific-blue > a, .pacific-blue > a:hover, .dropdown-toggle {
		color: $pacific-blue !important;
	}
}

/* DASHBOARD */

.dashboard {
	.navbar-right {
	  padding-right: 20px;
	}
	.navbar {
	  .btn-projects, .btn-events, .btn-users, .btn-workshops, .btn-dashboard {
	    margin-top: 8px;
	    margin-right: 10px;
    	padding: 8px 10px 5px;
	  }

	  .btn-projects, .btn-projects:hover {
	    color: $orange;
    	border-color: $orange;
	  }

    .btn-dashboard {
      color: $red;
      border-color: $red;
    }

	  .btn-users {
	    color: $pink;
	    border-color: $pink;
	  }

	  .btn-events {
	    color: $violet;
	    border-color: $violet;
	  }

	  .btn-workshops {
	    color: $green;
	    border-color: $green;
	  }
	}
	.btn-team {
		margin-top: 8px;
	    margin-right: 10px;
    	padding: 8px 10px 5px;
	  	color: $red;
	  	border-color: $red;

  }
}

.dashboard-container {
	font-family: 'Hind';
	font-weight: 500;
	padding: 75px 25px 40px;
	.panel {
    .notification {
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding: 5px 10px;
      border-radius: 4px;
    }
		height: 320px;
		background: transparent;
		overflow: auto;
		.panel-heading {
			color: #fff;
		    font-weight: 800;
		    letter-spacing: 2px;
		    font-size: 16px;
		}
		.red-heading {
			background-color: $red;
      a {
        color: white;
      }
		}
		.pacific-heading {
			background-color: $pacific-blue;
		}
		.yellow-heading {
			background-color: $yellow;
		}
		.violet-heading {
			background-color: $violet;
		}
		.green-heading {
			background-color: $green;
		}
	}
}

/* FOOTER */
.navbar-fixed-bottom {
	color: $violet;
	text-align: center;
	padding-top: 17px;
}

/*login and registration form*/
.login-form
{
	/*background: url(transparentcover.png) no-repeat center center fixed;*/
	background: url(cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.registration-form
{
  background: url(cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200vh;
}

.projects-form{
	height: 100vh;
}

.teams-form{
	height: 70vh;
}

.events-form{
	height: 100vh;
}

p.form-title
{
    font-family: 'Hind';
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: #62B948;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.btn-signup, .btn-signup:hover
{
	color: $green;
	border-color: $green;
}
form[name=form-center]{
    margin-left: 25%;
    margin-right:25%;
    margin-top:10%;

    background:#F7F7F7;
    border-radius: 25px;
    border: 2px solid #62B948;
    padding: 20px;
}
form[name=form-center].edit_project,  form[name=form-center].new_project, , form[name=form-center].edit_team,  form[name=form-center].new_team, form[name=form-center].edit_workshop,  form[name=form-center].new_workshop, form[name=form-center].edit_event,  form[name=form-center].new_event{
  margin-top: 5%;
}



form[name=form-centerr]{
    margin-left: 25%;
    margin-right:25%;
    margin-top:3%;

    background:#F7F7F7;
    border-radius: 25px;
    border: 2px solid #62B948;
    padding: 20px;
}

form[name=form-centerrp]{
    margin-left: 25%;
    margin-right:25%;
    margin-top:15%;

    background:#F7F7F7;
    border-radius: 25px;
    border: 2px solid #62B948;
    padding: 20px;
}


form[name=form-centerr] label {
	color:#62B948;
}

form[name=form-center] label {
	color:#62B948;
}

form[name=form-centerrp] label {
	color:#62B948;
}
.pacific-blue > a, .pacific-blue > a:hover {
		color: $pacific-blue !important;
	}


.page-title {
	text-align: center;
	margin-top: 30px;
}

.users-container {
	table {
		th, td {
			width: 200px;
		}

		td {
			.btn-link {
				padding-left: 0;
			}
		}
	}

	.modal-title {
		text-align: center;
	}
	.modal-body {
		.user {
			width: 100%;
			float: left;
			padding-top: 10px;
  			padding-left: 10px;
		}
		.info {
			font-weight: bold;
			float: left;
			width: 200px;
		}
		.info-detail {
			float: left;
			width: 350px;
		}
	}
	.panel-heading{
		background-color: $red;
	}
	.accepted{
		background-color: #D1E231;
	}
	.panel-heading.accepted {
		line-height: 35px;
		height: 55px;
		background-color: $red;
	}
	.new{
		background-color: #CDC9C9;
	}

	.search-right-menu {
		width: 300px;
		height: 55px;
		.form-group {
			float: left;
		}
	}
}

.show-panel {
  margin-top: 20px;
  margin-bottom: 40px;
  background: #F7F7F7 !important;
  border-radius: 25px;
  border: 2px solid #62B948;
  padding: 20px;
  min-height: 80vh;
  .panel-heading {
  	text-align: center;
  	color: #62B948 !important;
  	background: #F7F7F7 !important;
  }
  p.btn-join {
  	text-align: center;
  	padding-top: 10px;

  }
}

/*PROJECT SHOW*/
.project-container {
	font-family: 'Hind';
	padding-bottom: 10%;
	.left {
		height: 100%;
		background-color: rgba(200, 200, 200, 0.3);
		margin: 1% 0;
		padding: 3%;
		border-radius: 4px;
		.name {
			font-weight: 700;
			margin: 5% 0;
			color: $violet;
		}

		.desc {
			margin: 2% 0;
			color: $violet;
		}

		.when {
			margin: 2% 0;
			color: $violet;
		}
	}
	.right {
		height: auto;
		background-color: rgba(200, 200, 200, 0.3);
		margin: 1% 0 5%;
		padding: 3%;
		border-radius: 4px;
		.btn {
			margin-top: -28px;
		    padding: 8px 5px 3px;
		    color: #4a4a4a;
		}

		.badge.Active {
			background: $green;
		}
		.badge.Finished {
			background: $red;
		}
	}
	.right.col-lg-8 {
		margin-left: 1%;
		width: 65% !important;
	}
	.white{
	color:white;
	}
}

.events-list {
	height: 550px !important;
}

.badge.Active {
  background: $green;
}
.badge.Finished {
  background: $red;
}

.left-button {
  float: left;
  margin-right: 5px;
}

.user-task-label {
  color: #000000;
  font-weight: bold;
  display: inline;
}

.red-bg {
  background-color: $red;
  color: white;
}
.cover {
	text-align: center;
	margin-bottom: 20px;
}
.event-cover {
	height: 200px;
	text-align: center;
}

.all-user-events-link {
  color: #00B0BD;
  font-size: larger;
  font-style: italic;
}

.user-subscribed-to-event {
  color: #62B948;
}

.user-not-subscribed-to-event {
  color: #B00100;
}

.tasks-comment{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 300px;
  background: #F7F7F7 !important;
  border-radius: 25px;
  border: 2px solid #62B948;
  padding: 20px;
  align: center;
  min-height: 60vh;
  width: 600px;
  .panel-heading {
  	text-align: center;
  	color: #62B948 !important;
  	background: #F7F7F7 !important;
  }
  .tasks-panel{
	background: #F8FBEF;
	border: 0.5px solid #62B948;
}
}



.tasks-comment-label{
	color: #62B948;
	display: inline;
}

.tasks-comment-pp{
	display: inline;
}