@import 'variables';

/* COMMON */
.image-container {
  background: url(cover.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}
/* LANDING */
.navbar-fixed-top {
	margin-bottom: 0px;
}

.navbar {
  font-family: 'Hind';
  font-weight: 500;

  .blue, .blue:hover {
		color: $blue !important;
	}

	.pacific-blue > a, .pacific-blue > a:hover, .dropdown-toggle {
		color: $pacific-blue !important;
	}
}

/* DASHBOARD */

.dashboard {
	.navbar-right {
	  padding-right: 80px;
	}
	.navbar {
	  .btn-projects, .btn-events, .btn-users, .btn-workshops, .btn-dashboard {
	    margin-top: 8px;
	    margin-right: 10px;
    	padding: 8px 10px 5px;
	  }

	  .btn-projects, .btn-projects:hover {
	    color: $orange;
    	border-color: $orange;
	  }

    .btn-dashboard {
      color: $red;
      border-color: $red;
    }

	  .btn-users {
	    color: $pink;
	    border-color: $pink;
	  }

	  .btn-events {
	    color: $violet;
	    border-color: $violet;
	  }

	  .btn-workshops {
	    color: $green;
	    border-color: $green;
	  }
	}
	.btn-team {
		margin-top: 8px;
	    margin-right: 10px;
    	padding: 8px 10px 5px;
  	color: $red;
  	border-color: $red;
  	margin-left: 30px;
  }
}

.dashboard-container {
	font-family: 'Hind';
	font-weight: 500;
	padding: 75px 25px 0px;
  background: url(transparentcover.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
	.panel {
		height: 320px;
		background: transparent;
		overflow: auto;
		.panel-heading {
			color: #fff;
		}
		.red-heading {
			background-color: $red;
      a {
        color: white;
      }
		}
		.pacific-heading {
			background-color: $pacific-blue;
		}
		.yellow-heading {
			background-color: $yellow;
		}
		.violet-heading {
			background-color: $violet;
		}
		.green-heading {
			background-color: $green;
		}
	}
}

/* FOOTER */
.navbar-fixed-bottom {
	color: $violet;
	text-align: center;
	padding-top: 17px;
}

/*login form*/
.login-form
{
	background: url(transparentcover.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Hind';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #000000;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}


form.login input[type="email"], form.login input[type="password"], form.login input[type="text"], form.login input[type="date"], form.login textarea
{
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login 
{
    float: left;
    width: 100%;
    padding-right:50px;
}
form.login 
{
    min-height: 20px;
}
form.login label
{
	font-family: 'Hind';
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

.page-title {
	text-align: center;
	margin-top: 30px;
}

.users-container {
	table {
		th, td {
			width: 200px;
		}

		td {
			.btn-link {
				padding-left: 0;
			}
		}
	}
	.modal-title {
		text-align: center;		
	}
	.modal-body {
		.user {
			width: 100%;
			float: left;
			padding-top: 10px;
  			padding-left: 10px;
		}
		.info {
			font-weight: bold;
			float: left;
			width: 200px;
		}
		.info-detail {
			float: left;
			width: 350px;
		}
	}
	.panel-heading.accepted {
		line-height: 35px;
		height: 55px;
	}
	.search-right-menu {
		width: 300px;
		.form-group {
			float: left;
		}
	}
}

