<span class="title"><span class="glyphicon glyphicon-hand-right"></span> <%= @team.shortcode %> - Kreiranje novog taska</span>
<div class="projects-form">
	<%= form_for @annual_task, url: { action: "create" }, html: { name: 'form-center' } do |f| %>
	  <%= render partial: 'form', :locals => { :f => f, :submit_label => "Dodaj" } %>
	<% end %>
</div>